.card-wrapper{
    padding-top: 5rem;
    display: inline;
    flex: 5;
  }
  .card-container{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    
  }
  .card{

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}


