.ser-wrapper{
    position: relative;
}
.ser-container{
    width: 100%;
}
.ser-head{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
@media(max-width:768px){
   
    .table-col{
        width: 70%;
    }
   
    .title, .sec-title{
        text-align: center;
    }
}





.hit-wrapper{
    padding-top: 13rem;
}
.hit-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hit-head{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 35rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.hit-features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.hit-feature{
    max-width: 38rem;
    display: flex;
    align-items: center;
    background-color: var(--light-bg);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: max-content;
}
.hit-feature .detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    translate: -18% 0rem;
}
.hit-feature .detail>:nth-child(1){
    font-weight: bold;
    font-size: 1.1rem;
}
.hit-feature:nth-of-type(2), .hit-feature:nth-of-type(4), .hit-feature:nth-of-type(6), .hit-feature:nth-of-type(8){
    margin-left: 10rem;
}
.hit-feature:nth-of-type(1), .hit-feature:nth-of-type(3), .hit-feature:nth-of-type(5), .hit-feature:nth-of-type(7){
    margin-right: 5rem;
}

@media (max-width:1280px) {
    .hit-head{
       width: 100%;
    }
    .hit-feature{
       width: 90%;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .hit-feature:nth-of-type(2), .hit-feature:nth-of-type(4), .hit-feature:nth-of-type(6), .hit-feature:nth-of-type(8){
        margin-left: 0rem;
    }
    .hit-feature:nth-of-type(1), .hit-feature:nth-of-type(3), .hit-feature:nth-of-type(5), .hit-feature:nth-of-type(7){
        margin-right: 0rem;
    }
    .hit-feature .detail{
        
        translate: 0rem;
    }
    .hit-feature .icon img{
        translate: 0;
    }
}
@media (max-width:576px) {
    .hit-feature{
        flex-direction: column;
    }
   
}



