.a-wrapper{
    padding-top: 13rem;
}
.a-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a-container > div{
    flex: 1;
}
.a-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.a-left .head{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center
}
.a-left .head .title{
    color: white;
}
.a-features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    margin-top: 5rem;
    text-align: left;
}
.a-feature{
    display: flex;
    max-width: 50rem;
    align-items: center;
    gap: 10rem;
}

.a-detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.a-feature .text{
    color: white;
    text-align: left;
}
.a-feature .des{
    color: var(--fourth-color);
    text-align: left;
}

@media (max-width:990px) {
    .a-feature{
        flex-direction: column;
        gap: 0;
        align-items: center;
        margin: 1rem;
    }
    .a-feature .text{
        text-align: left;
    }
    .a-feature .des{
        text-align: left;
    }
    .a-features{
        align-items: center;
        justify-content: center;
    }
    
}