.featured-wrapper{
    padding-top: 1rem;
  }
  .featured-container{
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    justify-content: space-between;
    margin-top: 10rem;
  }
  .featured-head{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 35rem;
    margin: auto;
}
.title {
    font-size: 96px;
    font-weight: 300;
  }
  
  .post {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .imgContainer {
    flex: 1;
    height: 500px;
    position: relative;
  }
  
  .image {
    object-fit: cover;
  }
  
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%; /* Ensure it takes full width available */
  }
  
  
  .postTitle {
    font-size: 2rem;
    line-height: 2.5rem; /* Adjust line-height for better spacing */
  }
  
  .postDesc {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 1.5rem;
    max-width: 100%; /* Ensure it doesn't exceed container width */
  }
  
  .button {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    width: max-content;
  }
  .postTitle,
.postDesc {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
  
@media screen and (max-width: 1280px) {
  .postTitle {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .postTitle  {
    font-size: 64px;
  }

  .imgContainer {
    display: none;
  }
}
.read-button{
  width: 100px;
  border: none;
  padding: 16px;
  background-color: crimson;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .postTitle  {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .postTitle  {
    font-size: 36px;
  }
}

  
  @media screen and (max-width: 640px) {
    .title {
      font-size: 36px;
    }
  }
  