.post {
    margin-bottom: 70px;
    display: flex;
    align-items: center; 
    gap: 50px;

  }
  
  .cardimageContainer {
    flex: 1;
    height: 400px;
    position: relative;
  }
  .cardDetail{
    display: flex;
    gap: 5px;
  }
  
  .cardimage {
    object-fit: cover;
    border-radius: 1.5rem;

  }
  .views {
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    margin-left: 1rem;
  }
  
  .eyeIcon {
    text-align: center;
    margin-right: 5px;
  }
  
  .cardTextContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 1;
    text-align: justify;
  }
  
  .carddate {
    color: gray;
    font-weight: 500;
  }
  .dash{
    color: gray;
    font-weight: 500;
  }
  
  .cardcategory {
    color: crimson;
    font-weight: 500;
  }
  
  .carddesc {
    font-size: 18px;
    font-weight: 300;
    color: gray;
  }
  .cardTitle{
    font-size: 22px;
    font: bold;
  }
  
  
  .cardlink {
    border-bottom: 1px solid crimson;
    width: max-content;
    padding: 2px 0px;
  }
  .title{
    font-size: 1.5rem;
    color: #221577;
    font-weight: bold;
    line-height: 2rem;
    text-transform: capitalize;
    text-align: left;
}
.postDes{
  font-size: 1rem;
  color:#867eb5;
  line-height: 2rem;
}
.des.text{
  color:#867eb5;
}
.sec-title{
  font-size: 2rem;
  color: #221577;
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  text-transform: capitalize;
}
.text{
  color:#867eb5;
  font-size: 1.1rem;
  line-height: 2rem;
}
  
  @media screen and (max-width: 1280px) {
    .cardimageContainer {
      display: none;
    }
    .post{
        padding: 0rem;
    }
  }

  @media (max-width: 768px) {
    .title{
        font-size: 2.2rem;
    }
    .sec-title{
        font-size: 1.8rem;
    }
    .des{
        font-size: 1.2rem;
    }
}
@media (max-width: 640px) {
    .title{
        font-size: 1.8rem;
    }
    .sec-title{
        font-size: 1.6rem;
    }
   
}

  