.post {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  gap: 20px; /* Reduced gap for better spacing */
}

.cardimageContainer {
  width: 100%; /* Ensure the container is full width */
  max-width: 700px; /* Set a maximum width */
  height: 300px; /* Set a fixed height for the image container */
  position: relative;
}
.title{
  font-size: 2.5rem;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 0rem;
}
.title:hover{
  color: var(--secondary-color);
}
.postDes {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.cardDetail{
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}
.views{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--secondary-color);
}

.cardimage {

  border-radius: 1.5rem;
  width: 100%; /* Ensure image takes full width of its container */
  height: auto; /* Ensure image takes full height of its container */
}

.cardTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
  max-width: 700px; /* Match the max width of the image container */
  text-align: justify;
}

/* Media queries */
@media screen and (max-width: 1280px) {

  .post{
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .postDes {
    font-size: 1rem;
  }
  .cardimageContainer {
    width: 100%; /* Ensure the container is full width */
    max-width: 700px; /* Set a maximum width */
    height: 200px; /* Set a fixed height for the image container */
    position: relative;
  }
 
  .cardimage {
  
    border-radius: 1.5rem;
    width: 100%; /* Ensure image takes full width of its container */
    height: auto; /* Ensure image takes full height of its container */
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 1.5rem;
  }
  .postDes {
    font-size: 1rem;
  }
}


.category {
  padding: 0.2rem 1rem;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  width: max-content;
  text-transform: capitalize;
}

.coding {
  background-color: #ff7857;
}

.technews {
  background-color: #ffb14f;
}

.techculture {
  background-color: #7fb881;
}

.cybersecurity {
  background-color: #ff7887;
}

.productivity {
  background-color: #775aec;
}

