.app{
  position: relative;
  transition: all 300ms ease-out;
  
}
.container{
  width: 95%;
}
.tag{
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.title{
  font-size: 2.6rem;
  color: var(--title-color);
  font-weight: bold;
  text-align: center;
  line-height: 3.5rem;
  text-transform: capitalize;
}
.des{
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 2rem;
}
.sec-title{
  font-size: 2rem;
  color: var(--title-color);
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  text-transform: capitalize;
}
.text{
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media (max-width: 768px) {
  .title{
      font-size: 2.2rem;
  }
  .sec-title{
      font-size: 1.8rem;
  }
  .des{
      font-size: 1.2rem;
  }
}
@media (max-width: 640px) {
  .title{
      font-size: 1.8rem;
  }
  .sec-title{
      font-size: 1.6rem;
  }
 
}

.content{
  display: flex;
  gap: 50px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}


@media(min-width:2100px){
  .content{
    max-width: 1600px;
  }
}
@media(min-width:576px){
  .content{
    max-width: 540px;
  }
}
@media(min-width:768px){
  .content{
    max-width: 720px;
  }
}
@media(min-width:992px){
  .content{
    max-width: 960px;
  }
}
@media(min-width:1200px){
  .content{
    max-width: 1200px;
  }
}
@media screen and (max-width: 1280px) {
  .content{
    flex-direction: column;
  }
}


.app{
  position: relative;
  transition: all 300ms ease-out;
}
.tag{
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.title{
  font-size: 2.6rem;
  color: var(--title-color);
  font-weight: bold;
  text-align: center;
  line-height: 3.5rem;
  text-transform: capitalize;
}
.des{
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 2rem;
}
.sec-title{
  font-size: 2rem;
  color: var(--title-color);
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
  text-transform: capitalize;
}
.text{
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 1.8rem;
}

@media (max-width: 768px) {
  .title{
      font-size: 2.2rem;
  }
  .sec-title{
      font-size: 1.8rem;
  }
  .des{
      font-size: 1.2rem;
  }
}
@media (max-width: 640px) {
  .title{
      font-size: 1.8rem;
  }
  .sec-title{
      font-size: 1.6rem;
  }
 
}

