.f-wrapper .container{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.f-wrapper{
    background-color: var(--primary-color);
}
.f-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.f-container .title{
    color: white;

}
.f-container hr{
    border-color: var(--border-color-light);
    width: 100%;
}
.f-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.f-menu span{
  
  
    font-size: 0.9rem;
    cursor: pointer;
}
.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 20px 0;
  }
  
  .contact-icon {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.332);
    transition: color 0.3s;
  }
  
  .contact-icon:hover {
    color: #0056b3;
  }
  

@media (max-width: 990px){
    .f-menu{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}