.cat-wrapper{
    padding-top: 10rem;
  }
  .cat-container{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    justify-content: space-between;
  }
  .cat-head{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    max-width: 35rem;
    margin: auto;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.category.coding {
  background-color: #57c4ff31;
}

.category.cybersecurity {
  background-color: #da85c731;
}

.category.emergingtechnology {
  background-color: #7fb88133;
}

.category.hardwareanddevices {
  background-color: #ff795736;
}

.category.productivity {
  background-color: #ffb04f45;
}

.category.techculture {
  background-color: #5e4fff31;
}
.category.technews {
  background-color: #7fb88133;
}

.image {
  border-radius: 50%;
}
a{
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
  .container {
    max-width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
